.home-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.module-button{
    padding-top: 20px;
    font-size: 20px;
    margin: 20px;
    min-width: 150px;
    height: 130px;
}