<div class="home-content">
    <button mat-raised-button color="primary" routerLink="home-facturen" class="module-button">
        <div>
            <fa-icon style="font-size: 60px; margin-top: 10px;" [icon]="faFileInvoice"></fa-icon>
        </div>
        <div>
            Facturen
        </div>
    </button>
    <button mat-raised-button color="primary" class="module-button">
        <div>
            <fa-icon style="font-size: 60px; margin-top: 10px;" [icon]="faUsers"></fa-icon>
        </div>
        <div>
            Klanten
        </div>
    </button>
    <button mat-raised-button color="primary" class="module-button">
        <div>
            <fa-icon style="font-size: 60px; margin-top: 10px;" [icon]="faGifts"></fa-icon>
        </div>
        <div>
            Producten
        </div>
    </button>
</div>