.customer-selector-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}
.table table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: separate !important;
  border-radius: 1em;
  border-style: hidden;
}
.tablerow {
  cursor: pointer;
}
table tr {
  width: 100%;
}

.mat-header-row {
  background-color: #80cbc4 !important;
}
.mat-header-row th {
  color: white !important;
  font-family: "louis george cafe bold" !important;
  font-size: 18px;
}

tr:hover td {
  opacity: 1;
  border: 0 !important;
  background-color: #c4c4c466 !important;
}

.mat-table {
  font-family: "louis george cafe" !important;
}

.button-container{
  width: 100px;
  display: flex;
  justify-content: center;
}