<div class="customer-selector-container">
    <app-autocompleter entitytype="klant" [data]="customers" (filterEntityList)="search($event)"></app-autocompleter>
    <div class="button-container">
        <a routerLink="../../customers/create" class="btn">
            <i class="fa fa-user-plus"></i>
        </a>
    </div>
</div>

<div class="table-wrapper">
    <div class="table-container">
        <div class="table-head">
            <table>
                <thead>
                    <tr>
                        <th class="small-text-12">Id</th>
                        <th class="small-text-12">Naam</th>
                        <th class="small-text-12">Adresgegevens</th>
                        <th class="small-text-12">Contactgegevens</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="table-body" id="table-body-scroll">
            <table>
                <tbody>
                    <tr matStepperNext style="cursor: pointer;" *ngFor="let customer of customersPerPage"
                        (click)="callParent(stepper)" (click)="selectCustomer(customer)" matStepperNext>
                        <td>{{customer.customerNumber}}</td>
                        <td class="small-text-12">
                            {{customer.name}} {{customer.prefix}} {{customer.surname}}
                        </td>
                        <td class="small-text-10">
                            {{customer.street}} {{customer.houseNumber}}
                            <br>
                            {{customer.zipCode}} {{customer.place}}
                        </td>
                        <td class="small-text-10">
                            {{customer.email}}
                            <br>
                            {{customer.phoneNumber}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>