<div class="customer-selector-container">
        <app-autocompleter entitytype="klant" [data]="customers" (filterEntityList)="search($event)"></app-autocompleter>
        <button mat-raised-button color="primary" style="height: 100%;">Nieuwe klant</button>
</div>

<div class="table">

    <table mat-table [dataSource]="customersPerPage" class="mat-elevation-z8">
        
        <ng-container matColumnDef="naam">
            <th mat-header-cell *matHeaderCellDef> Naam </th>
            <td mat-cell *matCellDef="let customer"> 
                Klantnummer: {{customer.id}}
                <br>
                {{customer.name}} {{customer.prefix}} {{customer.surname}} 
            </td>
        </ng-container>
        <ng-container matColumnDef="adres">
            <th mat-header-cell *matHeaderCellDef> Adresgegevens </th>
            <td mat-cell *matCellDef="let customer">
                {{customer.street}} {{customer.houseNumber}}
                <br>
                {{customer.zipcode}} {{customer.place}}
            </td>
        </ng-container>
        <ng-container matColumnDef="contact">
            <th mat-header-cell *matHeaderCellDef> Contactgegevens </th>
            <td mat-cell *matCellDef="let customer">
                Tel: {{customer.phoneNumber}} 
                <br>
                {{customer.email}}
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="tablerow" (click)="selectCustomer(row)"></tr>
    </table>
</div>