
<mat-grid-list cols="10" rowHeight="60px">
    <mat-grid-tile [colspan]="7" [rowspan]="1">
        <div style="text-align: left; width: 100%;">
            <h1>Facturen overzicht</h1>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="1">
        <button routerLink="../invoices/create" mat-raised-button color="primary">Nieuw factuur</button>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="3" [rowspan]="1">
        <app-autocompleter entitytype="factuur" [data]="invoices" (filterEntityList)="search($event)"></app-autocompleter>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="6" [rowspan]="1"></mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-menu #appMenu="matMenu" xPosition="before">
            <button mat-menu-item><mat-checkbox>Datum</mat-checkbox></button>
            <button mat-menu-item><mat-checkbox>Prijs oplopend</mat-checkbox></button>
            <button mat-menu-item><mat-checkbox>Onbetaald</mat-checkbox></button>
        </mat-menu>
            
        <button mat-icon-button color="primary" [matMenuTriggerFor]="appMenu"
        matTooltip="Filter Facturen">
            <fa-icon style="font-size: 20px;" [icon]="faFilter"></fa-icon>
        </button>
    </mat-grid-tile>
</mat-grid-list>

<div class="accordion">
    <mat-accordion>
        <mat-expansion-panel *ngFor="let inv of invoicesPerPage" >
            <mat-expansion-panel-header>
                <mat-panel-title>
                <b>
                        Factuur {{inv.id}}
                </b> 
                </mat-panel-title>
                <mat-panel-description>
                    <div class="customer-description-container">
                        {{inv.customer.name}} {{inv.customer.prefix}} {{inv.customer.surname}}
                    </div>
                    <div class="payment-check-container">
                        <fa-icon [icon]="faEuroSign"></fa-icon>
                        <span class="payment-result-negative" *ngIf="!inv.datePayed">
                            <fa-icon [icon]="faTimes"></fa-icon>
                        </span>
                        <span class="payment-result-positive" *ngIf="inv.datePayed">
                            <fa-icon [icon]="faCheck"></fa-icon>
                        </span>
                    </div>
                </mat-panel-description>
            </mat-expansion-panel-header>
    
            <mat-grid-list cols="4" rowHeight="55px">
                <mat-grid-tile
                    [colspan]="2"
                    [rowspan]="2">
                    {{inv.customer.name}} {{inv.customer.prefix}} {{inv.customer.surname}}
                    <br>
                    {{inv.customer.street}} {{inv.customer.houseNumber}}
                    <br>
                    {{inv.customer.zipcode}} {{inv.customer.place}} 
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="2"></mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1"></mat-grid-tile>
                <mat-grid-tile
                    [colspan]="2"
                    [rowspan]="1">
                    Datum: {{inv.creationDate | date :'dd-MM-yyyy' }}
                </mat-grid-tile> 
                          
            </mat-grid-list>
    
            <table mat-table [dataSource]="inv.invoiceLines">
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> Titel </th>
                    <td mat-cell *matCellDef="let invoiceLine"> {{invoiceLine.item.description}} </td>
                </ng-container>
                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef> Aantal </th>
                    <td mat-cell *matCellDef="let invoiceLine"> {{invoiceLine.amount}} {{invoiceLine.unit}}</td>
                </ng-container>
                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef> Prijs </th>
                    <td mat-cell *matCellDef="let invoiceLine"> &euro; {{invoiceLine.item.price}} </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
    
            <mat-grid-list cols="4" rowHeight="50px">
                <mat-grid-tile [colspan]="4" [rowspan]="1"></mat-grid-tile>
                <mat-grid-tile [colspan]="3" [rowspan]="1">
                    <u class="totalpricetag">Totaal prijs:</u> 
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <u class="totalpricetag">&euro; {{inv.totalPrice}}</u>
                </mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list *ngIf="!inv.datePayed" cols="4" rowHeight="50px">
                <mat-grid-tile [colspan]="3" [rowspan]="1">
                    <u class="totalpricetag">Nog te betalen:</u> 
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <u class="totalpricetag">&euro; {{inv.totalPrice - inv?.payedAmount + .00}}</u>
                </mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list cols="4" rowHeight="25px">
                <mat-grid-tile [colspan]="4" [rowspan]="1"></mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list cols="4" rowHeight="50px">
                <mat-grid-tile [colspan]="3" [rowspan]="1"></mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" *ngIf="!inv.datePayed">
                        <button mat-raised-button color="primary" (click)="openDialog(inv)">Betaling toevoegen</button>
                </mat-grid-tile> 
            </mat-grid-list>
      </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="paginator-outer">
    <div class="paginator">
        <mat-paginator 
            [length]="pageEvent.length"
            [pageSize]="pageEvent.pageSize"
            [pageSizeOptions]="pageSizeOptions"
            (page)="onPaginateChange($event)">
        </mat-paginator>
    </div>
</div>
