<div class="invoice-overview-container">
    <div class="overview-header">
        <div class="overview-header-content">
            <div class="page-title">
                <h1>Facturen overzicht</h1>
            </div>
            <div class="title-button">
                <button routerLink="../invoices/create" mat-raised-button color="primary">Nieuw factuur</button>
            </div>
        </div>
        <div class="overview-header-content" style="flex-wrap: nowrap;">
            <div class="overview-searchbar">
                <app-search-invoice [data]="invoices" (filterEntityList)="search($event)"></app-search-invoice>
            </div>
            <div class="overview-filter">
                <mat-menu #appMenu="matMenu" xPosition="before">
                    <mat-radio-group (change)="changeStatus($event)">
                        <button mat-menu-item (click)="$event.stopPropagation()">
                            <mat-radio-button value="true">Betaald</mat-radio-button>
                        </button>
                        <button mat-menu-item (click)="$event.stopPropagation()">
                            <mat-radio-button value="false">Onbetaald</mat-radio-button>
                        </button>
                    </mat-radio-group>
                </mat-menu>
                <button mat-icon-button color="primary" [matMenuTriggerFor]="appMenu" matTooltip="Filter Facturen">
                    <fa-icon style="font-size: 20px;" [icon]="faFilter"></fa-icon>
                </button>
            </div>
        </div>
    </div>

    <div *ngIf="!existingInvoices">
        Er zijn geen facturen gevonden, selecteer een andere maand incl. jaartal. 
        <mat-form-field>
            <mat-label>Selecteer een datum</mat-label>
            <input matInput [matDatepicker]="picker" (dateInput)="showAll($event)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="year" ></mat-datepicker>
        </mat-form-field>

        <br>
        of <span style="color: #49cfc6; cursor: pointer;" (click)="showAll(null)">klik hier</span> om te kijken naar de vorige maand.<br>

    </div>

    <div class="accordion">
        <mat-accordion>
            <mat-expansion-panel *ngFor="let inv of invoicesPerPage">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div class="invoice-title-description">
                            <div>
                                {{inv.creationDate | date :'dd-MM-yyyy'}}
                            </div>
                            <div style="font-size: 10px;">
                                Factuur {{inv.invoiceNumber}}
                            </div>
                        </div>
                    </mat-panel-title>
                    <mat-panel-description>
                        <div class="invoice-description">
                            <div class="customer-name">
                                {{inv.customer.name}} {{inv.customer.prefix}} {{inv.customer.surname}}
                            </div>

                            <div class="invoice-header-payment">
                                <div style="display: flex;">
                                    <div class="invoice-price">
                                        <div style="font-size: 10px;">
                                            €
                                        </div>
                                        <div style="font-size: 10px;">
                                            {{inv.totalPrice + (inv.totalPrice * 0.21) | currency :' '}}
                                        </div>
                                    </div>
                                    <div class="payment-details">
                                        <span class="payment-result-negative" *ngIf="!inv.datePayed">
                                            <fa-icon [icon]="faTimes"></fa-icon>
                                        </span>
                                        <span class="payment-result-positive" *ngIf="inv.datePayed">
                                            <fa-icon [icon]="faCheck"></fa-icon>
                                        </span>
                                    </div>
                                </div>
                                <div *ngIf="!inv.datePayed" class="invoice-header-payment-details red">
                                    Nog te betalen: {{inv.totalPrice - inv?.payedAmount | currency :'EUR'}}
                                </div>
                                <div *ngIf="inv.datePayed" class="invoice-header-payment-details green">
                                    Betaald op: {{inv.datePayed | date :'dd-MM-yyyy'}}
                                </div>
                            </div>
                        </div>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="invoice-details">
                    <div class="invoice-customer-details">
                        <div class="customer-details-row">
                            {{inv.customer.name}} {{inv.customer.prefix}} {{inv.customer.surname}}
                        </div>
                        <div class="customer-details-row">
                            {{inv.customer.street}} {{inv.customer.houseNumber}}
                        </div>
                        <div class="customer-details-row">
                            {{inv.customer.zipCode}} {{inv.customer.place}}
                        </div>
                    </div>
                    <div class="invoice-creation-date">
                        Datum: {{inv.creationDate | date :'dd-MM-yyyy' }}
                    </div>


                    <table mat-table [dataSource]="inv.invoiceLines">
                        <ng-container matColumnDef="description">
                            <th mat-header-cell *matHeaderCellDef> Titel </th>
                            <td mat-cell *matCellDef="let invoiceLine"> {{invoiceLine.item.name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="amount">
                            <th mat-header-cell *matHeaderCellDef> Aantal </th>
                            <td mat-cell *matCellDef="let invoiceLine"> {{invoiceLine.amount}} {{invoiceLine.unit}}</td>
                        </ng-container>
                        <ng-container matColumnDef="price">
                            <th mat-header-cell *matHeaderCellDef> Stukprijs Excl. </th>
                            <td mat-cell *matCellDef="let invoiceLine">{{invoiceLine.item.price | currency :'EUR'}}
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <div class="invoice-price-details">
                        <div class="invoice-price-title-container">
                            <div class="total-subprice">
                                Totaal prijs Excl.
                            </div>
                            <div class="total-subprice">
                                BTW bedrag 21%
                            </div>
                            <div class="total-price bold">
                                Totaal Incl. BTW
                            </div>
                            <div class="price-to-pay" *ngIf="!inv.datePayed">
                                <u class="totalpricetag">Totaal openstaand</u>
                            </div>
                        </div>
                        <div class="invoice-price-amount-container">
                            <div class="total-subprice">
                                {{inv.totalPrice | currency :'EUR'}}
                            </div>
                            <div class="total-subprice">
                                {{inv.totalPrice * 0.21 | currency :'EUR'}}
                            </div>
                            <div class="total-price bold">
                                {{inv.totalPrice + (inv.totalPrice * 0.21) | currency :'EUR'}}
                            </div>
                            <div class="price-to-pay" *ngIf="!inv.datePayed">
                                <u class="totalpricetag">{{inv.totalPrice - inv?.payedAmount | currency :'EUR'}}</u>
                            </div>
                        </div>
                    </div>
                    <div class="invoice-payment-button-container" *ngIf="!inv.datePayed">
                        <app-pdfmaker [invoice]="inv" [buttonText]="'pdf'"></app-pdfmaker>
                        <button mat-raised-button color="primary" (click)="openDialog(inv)">Betaling toevoegen</button>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div class="paginator-outer">
        <mat-paginator [length]="pageEvent.length" [pageSize]="pageEvent.pageSize" [pageSizeOptions]="pageSizeOptions"
            (page)="onPaginateChange($event)">
        </mat-paginator>
    </div>
</div>