table{ 
    width: 100%;
    margin-bottom: 20px;
}

mat-header-cell {
    // color: white !important;
    font-size: 18px;
}

.mat-table{
    font-family: 'louis george cafe' !important;
}

.invoice-details-customer{
    font-size: 18px;
    margin-left: 100px;
    margin-top: 75px;
    margin-bottom: 50px;
}

.mat-header-cell {
    color: black !important;
    font-family: 'louis george cafe bold' !important;
    font-size: 18px;
}
div{
    font-family: 'louis george cafe' !important;
}