<div class="home-content">
    <button mat-raised-button color="primary" routerLink="./facturen" class="module-button">
        <div>
            <fa-icon style="font-size: 60px; margin-top: 10px;" [icon]="faList"></fa-icon>
        </div>
        <div>
            Overzicht
        </div>
    </button>
    <button mat-raised-button color="primary" routerLink="./facturen-toevoegen" class="module-button">
        <div>
            <fa-icon style="font-size: 60px; margin-top: 10px;" [icon]="faPlus"></fa-icon>
        </div>
        <div>
            Nieuw factuur
        </div>
    </button>
</div>