.table table{
    width: 100%;
}
.mat-table{
    font-family: 'louis george cafe' !important;
}
.mat-header-row{
    background-color: #80cbc4 !important;
}
.mat-header-row th {
    color: white !important;
    font-size: 18px;
}
.mat-header-cell {
    flex-direction: column;
    justify-content: right;
  }
  
  .mat-cell {
    text-align: right;
    justify-content:right;
  }

  #mat-cell-customer{
    text-align: left !important;
    justify-content: left !important;
  }

.overview-header{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    // flex-wrap: wrap;
}
.overview-header-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.overview-searchbar{
    flex-grow: 2;
}
.overview-filter{
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}