<h1 mat-dialog-title>Betaling toevoegen</h1>

  Factuur: {{data.id}} <br>
  {{data.customer.name}} {{data.customer.prefix}}  {{data.customer.surname}} <br>
  Totaalbedrag: &euro; {{data.totalPrice}}

<div mat-dialog-content>
  <p>Welk bedrag is betaald?</p>
  <mat-form-field>
    <input matInput type="number" placeholder="Voer bedrag in" [(ngModel)]='paymentAmount'>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" (click)="onCancel()">Annuleren</button>
  <button mat-button color="primary" (click)="onAddPayment(paymentAmount)">Toevoegen</button>
</div>