table{ 
    width: 100%;
    margin-bottom: 20px;
}

.invoice-details-customer{
    font-size: 18px;
    margin-left: 100px;
    margin-top: 75px;
    margin-bottom: 50px;
}

.invoice-header{
    display: flex;
    flex-direction: column;
}

.customer-content-invoice-header{
    margin: 30px;
}
.invoice-date-invoice-header{
    align-self: flex-end;
    margin-bottom: 20px;
}

@media only screen and (max-width: 800px){
    div{
        font-size: 10px;
    }
}
div{
    font-family: 'louis george cafe' !important;
}
.align-right{
    display: flex;
    padding: 21px 0;
    justify-content: flex-end;
}

.invoice-checkup-details-customer{
    display: flex;
    justify-content: flex-end;
}

.right-column {
    text-align: right;
}
.left-column {
    text-align: left;
}
.size-5{
    width: 50%;
}
.size-1{
    width: 30px;
    max-width: 35;
}
.remove-item-icon{
    color: #49cfc6;
    cursor: pointer;
}

.remove-item-icon:hover{
    color: red;
}