<div class="invoice-header">
  <div>
    <h1>Factuur</h1>
  </div>
  <div *ngIf="selectedCustomer" class="customer-content-invoice-header">
    {{selectedCustomer.name}} {{selectedCustomer.prefix}} {{selectedCustomer.surname}}
    <br>
    {{selectedCustomer.street}} {{selectedCustomer.houseNumber}}
    <br>
    {{selectedCustomer.zipCode}} {{selectedCustomer.place}}
  </div>
  <div class="invoice-date-invoice-header">
    Factuurdatum: {{date | date:'dd-MM-yyyy'}}
  </div>
</div>

<div class="table-wrapper">
  <div class="table-container">
    <div class="table-head">
      <table>
        <thead>
          <tr>
            <th></th>
            <th class="left-column size-5">Omschrijving</th>
            <th class="right-column size-1">Aantal</th>
            <th class="right-column size-2">Stukprijs</th>
            <th class="right-column size-2">Totaal Excl.</th>
          </tr>
        </thead>
        <tbody>
          <tr matStepperNext  *ngFor="let invoiceLine of invoiceLines">
            <td>
              <fa-icon class="remove-item-icon" [icon]="faMinusSquare" (click)="removeItemFromInvoice(invoiceLine)"></fa-icon>
            </td>
            <td class="size-5">
              {{invoiceLine.item.name}}
            </td>
            <td class="right-column">
              {{invoiceLine.amount}}
            </td>
            <td class="right-column">
              {{invoiceLine.item.price | currency : 'EUR'}}
            </td>
            <td class="right-column">
              {{invoiceLine.item.price * invoiceLine.amount | currency : 'EUR'}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div
  style="display: flex; justify-content: flex-end; flex-direction: row; align-content: flex-end; margin-bottom: 50px;">
  <div style="width: 150px;">
    <b>Subtotaal</b> <br>
    21% BTW <br><br>
    <b>Totaal</b>
  </div>
  <div style="width: 100px; text-align: right;" class="bold">
    {{subTotalPrice | currency:"EUR"}} <br>
    {{btwPrice | currency:"EUR"}} <br><br>
    <b>
      {{totalPrice | currency:"EUR"}}
    </b>
  </div>
</div>