.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    // color: rgba(152, 152, 152, 0.43);/*IconColor*/
    color: white;
    width: 35px;
    height: 35px;
    line-height: 80px;
    font-size: 17px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    font-weight: bold;
    background-image: -webkit-linear-gradient(#91ece6  0%, #49cfc6  100%);
    background-image: linear-gradient(#91ece6  0%, #49cfc6  100%);
    text-shadow: 1px 1px 1px rgba(194, 194, 194, 0.66);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 1px 1px rgba(0, 0, 0, 0.19);
    border-bottom: solid 1px #b5b5b5;
}
.btn .fa {
    line-height: 80px;
}
.small {
    font-size: 20px;
    margin-left: 10px;
    text-decoration: none;
    color: #49cfc6;
    cursor: pointer;
}
.btn:active {/*onClick*/
    background-image: -webkit-linear-gradient(#efefef 0%, #d6d6d6 100%);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: none;
}