<div class="overview-header">
    <div class="overview-header-content">
        <div class="page-title">
            <h1>Producten overzicht</h1>
        </div>
        <div class="title-button">
            <button routerLink="../items/create" mat-raised-button color="primary">Nieuw product</button>
        </div>
    </div>
    <div class="overview-header-content" style="flex-wrap: nowrap;">
        <div class="overview-searchbar">
            <app-autocompleter entitytype="product" [data]="items" (filterEntityList)="search($event)">
            </app-autocompleter>
        </div>
    </div>
</div>

<div class="table-wrapper">
    <div class="table-container">
        <div class="table-head">
            <table>
                <thead>
                    <tr>
                        <th>Naam</th>
                        <th>Omschrijving</th>
                        <th >Prijs</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="table-body" id="table-body-scroll">
            <table>
                <tbody>
                    <tr *ngFor="let item of itemsPerPage">
                        <td>{{item.name}}</td>
                        <td class="small-text-12">{{item.description}}</td>
                        <td class="right-column size-30"><span style="float: left;">&euro;</span>{{item.price | currency :  ' '}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>