.table table{
    width: 100%;
}
div{
    margin: 5px;
}
.mat-table{
    font-family: 'louis george cafe' !important;
}
.mat-header-row{
    background-color: #80cbc4 !important;
}
.mat-header-row th {
    color: white !important;
    font-size: 18px;
}