<div class="customer-selector-container">
    <app-autocompleter entitytype="items" [data]="items" (filterEntityList)="search($event)"></app-autocompleter>
</div>

<div class="table-wrapper">
    <div class="table-container">
        <div class="table-head">
            <table>
                <thead>
                    <tr>
                        <th style="width: 50%;">Naam</th>
                        <th>Prijs</th>
                        <th>Aantal</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="table-body" id="table-body-scroll">
            <table>
                <tbody>
                    <tr *ngFor="let item of itemsPerPage">
                        <td>{{item.name}}</td>
                        <td class="right-column"><span class="moneyspan">&euro;</span>{{item.price | currency :  ' '}}</td>
                        <td class="right-column">
                            <div class="amount-container">
                                <mat-form-field style="width: 50px;">
                                    <input #amount matInput placeholder="" type="number" value="1">
                                </mat-form-field>
                                <a class="small" (click)="selectItem(item, amount.value)">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>