<div style="text-align: left; width: 100%;">
  <h1>Factuur maken</h1>
</div>

<div *ngIf="selectedCustomer == null" class="alert">
  <p>
    <b>Er is geen klant geselecteerd</b>
  </p>
</div>

<p *ngIf="selectedCustomer != null">
  {{selectedCustomer.name}} {{selectedCustomer.prefix}} {{selectedCustomer.surname}}
  <br>
  {{selectedCustomer.street}} {{selectedCustomer.houseNumber}}
  <br>
  {{selectedCustomer.zipcode}} {{selectedCustomer.place}}
</p>

<mat-horizontal-stepper [linear]="isLinear" labelPosition="bottom" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Klant selecteren</ng-template>
      <app-invoice-customer-selector (selectedCustomer)="selectCustomer($event)" (goNext)="goNext(stepper)"></app-invoice-customer-selector>
      <div class="button-container" style="justify-content: flex-end;">
        <button mat-stroked-button color="primary" (click)="goNext(stepper)">Volgende</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Producten toevoegen</ng-template>
      <app-invoice-items-selector (invoiceLines)="addItem($event)"></app-invoice-items-selector>
      <div class="button-container">
        <button mat-stroked-button color="primary" matStepperPrevious>Terug</button>
        <button mat-stroked-button color="primary" matStepperNext>Volgende</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Factuur controleren</ng-template>

      <app-invoice-checkup [invoiceLines]="invoiceLines" [selectedCustomer]="selectedCustomer"></app-invoice-checkup>

      <div class="button-container">
        <button mat-stroked-button color="primary" matStepperPrevious>Annuleren</button>
        <div>
          <button mat-stroked-button color="primary" style="margin-right: 10px;" (click)="createInvoice()">Opslaan</button>
          <button mat-stroked-button color="primary" (click)="createInvoice()">Opslaan en printen</button>
        </div>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>